PORT=8000
DATUMGUARD_CORS_ORIGINS=http://localhost:3000
NEXT_PUBLIC_DATUMGUARD_API_URL=http://localhost:8000
NEXT_PUBLIC_GITHUB_URL=https://github.com/tjwnsdhfz/datumguard
DATUMGUARD_MCP_TRANSPORT=stdio
DATUMGUARD_ENABLE_OPENBIM=true
DATUMGUARD_OPENBIM_WORKER_TIMEOUT_SECONDS=90
