NEXT_PUBLIC_DATUMGUARD_API_URL=https://datumguard-api.onrender.com
NEXT_PUBLIC_GITHUB_URL=https://github.com/tjwnsdhfz/datumguard
NEXT_PUBLIC_DATUMGUARD_SITE_URL=https://datumguard-tjwnsdhfz.vercel.app
